.slider1 {
    position: relative;
    height: 100%;
  }
  
 li{
    text-decoration: none;
    color: transparent;
 }
  
img{
    padding-left: 45%;

width:300px;
height: 300px;

  }

  .ime{
    padding-left: 50%;
    padding-top: 0%;
    width: 100%;
    background-color: antiquewhite;
    color: black;
  }
  .cena{
    padding-left: 50%;
    padding-top: 0%;
    color: black;
  }
  .zemlja{
    padding-left: 50%;
    padding-top: 0%;
    color: black;
  }